
// import matchWea from '../weatherData/matchWeather.js'
// const matchWea = require('../weatherData/matchWeather.js') 

var filterTemp = function(temp) {
  if (temp) {
    temp = (temp + '').replace('℃', '')
    return temp
  } else {
    return ''
  }
}

var dateFilter = function(date) {
  date = date.substring(5,10)
  return date
}

var iconFilter = function(name){
  // matchWea(name,()=>{
    
  // })
}
module.exports = {
  filterTemp: filterTemp,
  dateFilter: dateFilter,
  iconFilter: iconFilter
}