
/* wxs里面无法使用箭头函数 */
var matchWea = require('../weatherData/matchWeather.wxs')
var match = matchWea.weatherMatch

var filterTemp = function(temp) {
  if (temp) {
    temp = (temp + '').replace('℃', '')
    return temp
  } else {
    return ''
  }
}

var dateFilter = function(date) {
  date = date.substring(5,10)
  return date
}

//icon
var iconFilter = function(name){
  var iconName
  match(name,function(item){
    iconName = item.icon
  })
  return iconName || 'icon-tianqi-yintian'
}

//icon颜色
var colorFilter = function(name){
  var colorName
  match(name, function (item) {
    colorName = item.color
  })
  return colorName || '#dddddd'
}

//背景图
var bgimageFilter = function(name){//
  var bgName
  match(name, function (item) {
    bgName = item.bgImg
  })
  return bgName 
}
module.exports = {
  filterTemp: filterTemp,
  dateFilter: dateFilter,
  iconFilter: iconFilter,
  colorFilter: colorFilter,
  bgimageFilter: bgimageFilter
}